{#
/**
*
* Author: Andre Witte
* Contact: andre.witte@freestylemedia.de
* Website: https://www.freestylemedia.de/
* https://github.com/akaw/SymfonyBootstrapDropdownWidget
*
* Copyright (c) 2016 Andre Witte
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* Permission is hereby granted, free of charge, to any person
* obtaining a copy of this software and associated documentation
* files (the "Software"), to deal in the Software without
* restriction, including without limitation the rights to use,
* copy, modify, merge, publish, distribute, sublicense, and/or sell
* copies of the Software, and to permit persons to whom the
* Software is furnished to do so, subject to the following
* conditions:
*
* The above copyright notice and this permission notice shall be
* included in all copies or substantial portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
* EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
* OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
* NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
* HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
* WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
* FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
* OTHER DEALINGS IN THE SOFTWARE.
*
**/

    BOOTSTRRAP 3 Dropdown with ajax
    
    id string
    label string
    button boolean Button or Link?
    navbar boolean Dropdown in navbar?
    active string item.id from active element
    items array:
        item.id
        item.header boolean
        item.label text
        item.href text 
        item.ajax boolean
            true:
                item.action //
                item.target //DOM element or console
                
    {% include 'AppBundle:widget:dropdown.html.twig' with {
           'items': itemsArray
          ,'id':'dropdown'
          ,'label':'Dropdown'
          ,'button':0
          ,'navbar':1
    } %}
#}
{% if button is not defined %}
    {% set button = true %}
{% endif %}
{% if navbar is not defined %}
    {% set navbar = false %}
{% endif %}

{% if navbar %}
    <li class="dropdown">
{% else %}
    <div class="btn-group">   
{% endif %}
    {% if button %}             
        <button type="button" class="btn btn-default {% if navbar %}navbar-btn{% endif %}
    {% else %}
        <a class="
    {% endif %}
        dropdown-toggle" role="button" id="{{ id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if active is defined %}
            {% for item in items %}
                {% if item.id is defined and active == item.id %}
                    {{item.label | trans}}
                {% endif %}
            {% endfor %}
        {% else %}
            {{ label | trans}}
        {% endif %}
        <span class="caret"></span>
    {% if button %}
        </button>
    {% else %}
        </a>
    {% endif %}
    <ul class="dropdown-menu" aria-labelledby="{{ id }}">
        {% for item in items %}
            {% if item.header %}
                    {% if not loop.first %}
                        <li role="separator" class="divider"></li>
                    {% endif %}
                    {% if item.label is defined %}
                        <li class="dropdown-header">{{item.label}}</li>
                    {% endif %}
            {% else %}
                    <li {% if item.disabled is defined and item.disabled %}class="disabled"{% endif %}>
                        <a
                            {% if item.href is defined %}
                                href="{{ item.href }}"
                            {% endif %}
                            class="dropdown-item
                            {% if item.ajax is defined and item.ajax %} ajaxAction{% endif %}
                            {% if item.disabled is defined and item.disabled %} disabled{% endif %}
                            {% if active is defined and active == item.id %} active{% endif %}"
                            {% if item.ajax is defined and item.ajax %}
                                data-id="{{ item.id }}"
                                data-action="{{ item.action }}"
                                data-target="{{ item.target }}"
                            {% endif %}>
                            {{item.label}}
                        </a>
                    </li>
            {% endif %}
        {% endfor %}
    </ul>
{% if navbar %}
    </li>
{% else %}
    </div>   
{% endif %}
